.note_personal{
  margin-left: 40%;
  margin-top: 4.3em;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.content_note{
  text-align: justify;
  margin-left: 20em;
  margin-right: 20em;
font-size: 1.4em;
font-family: 'Raleway', sans-serif;
}

h2{
  margin-left: 2px;
  margin-top: 3em;
}
