body {
    background: radial-gradient(circle farthest-side, var(--baseBackground), var(--black));
	color: var(--colorText);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--glitch-width: 15vw;
	--glitch-height: 30vh;
	--gap-horizontal: 10px;
	--gap-vertical: 5px;
	--time-anim: 2s;
	--delay-anim: 0s;
}

#Blitzschlag {
	z-index: 20;
	filter: saturate(3.6);
	max-height: 100%;
	position: absolute;
}

#myName {
	font-family: satisfy, 'cursive', Cinzel, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#menuControl, nav {
    position: absolute;
    top : 7vh;
    left: 5vw;
    font-size: 1.5rem;
    z-index: 1;
}

.honeypot {
    display: none;
}

.fp-tableCell, footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.fp-controlArrow.fp-prev {
	top: calc(50% - 19px);
	border-width: 2.4em 2.125em 2.4em 0;
}

.fp-controlArrow.fp-next {
	top: calc(50% - 19px);
	border-width: 2.4em 0 2.4em 2.125em;
}

.fp-slidesNav {
	display: flex;
	justify-content: center;
	width: 100%;
}

body[class*=events] #fp-nav, body[class*=registration] #fp-nav {
	display: none;
}

.fp-viewing-events-dramatics .fp-control-Arrow.fp-prev {
	display: none;
}

footer p {
    margin: 0.5em;
}

footer {
	position: relative;
	margin: 1vh auto;
}

.menu-visible {
    display: flex
}

#bg-video {
    z-index: -1;
    width: 100%;
}

.society__wrapper {
	margin: 0;
	padding: 2em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.society {
	flex: 1;
	margin: 1.3rem;
	display: flex;
	align-items: flex-end;
}

.society__actions {
	margin: 1rem;
	padding: 0.8rem;
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.society__action {
	display: inline-block;
	/* font-size: 120%; */
	line-height: 1.2em;
	margin: 1.5em;
	padding: 0.7rem 2rem;
	border-radius: 2em;
	width: 11em;
	text-align: center;
}

.society__action a:hover {
	color: var(--colorText);
	cursor: pointer;
}

.society__action--workshop {
	background: var(--baseBackground);
	color: var(--colorText);
	border: 1px solid var(--colorText);
}

.society__action--workshop:hover {
	color: var(--colorText);
}

.society__action--event {
	background: var(--colorText);
	color: var(--baseBackground);
	border: 1px solid var(--baseBackground);
}

.society__action--flagship {
	box-shadow: black 1px 2px 2px;
	opacity: 1;
	filter: saturate(1.2);
}

.society__action--event:hover, .society__action--flagship:hover {
	color: var(--baseBackground);
}

.society--dramatics {
	background: url("./src/images/drama.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: center;
}

.society--literary {
	background: url("./src/images/literary_events.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: bottom;
}

.society--film {
	background: url("./src/images/film and photography.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: center;
}

.society--music {
    background: url("./src/images/music.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: center;
}

.society--fine{
	background: url("./src/images/FineArts.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: center;
}

.society--edcell{
	background: url("./src/images/edcell.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: center;
}
.society--lan{
	background: url("./src/images/lan.jpg") no-repeat 50% 0;
	background-size: cover;
	background-position: center;
}

.society--vyaktiva {
	background-size: cover;
	background-position: center;
}

.society--literary .society__title, .society--fine .society__title {
	filter: saturate(1.8);
}

.society__title {
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
	font-size: 3em;
	font-family: Cinzel, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	margin: 0.1em;
	text-shadow: black 3px 3px 3px;
}

@keyframes glitch-anim-text {
	0% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	2% {
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	4% {
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	5% {
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	6% {
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	7% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	8% {
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	9% {
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	9.9% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
	}
	10%, 100% {
		transform: translate3d(0,0,0) scale3d(1,1,1);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

.registration h1, .registration h2 {
	position: relative;
	color: var(--baseBackground);
	opacity: 0;
	transition: 0.8s ease-in-out;
}

.registration h2 {
	font-size: 180%;
}

#registration__title {
	position: absolute;
	top: 10vh;
	color: var(--colorTextHighlight);
	opacity: 1;
	text-shadow: black 3px 3px 3px;
}

#progress {
	position: absolute;
	background: var(--colorText);
	height: 100vh;
	max-height: 100%;
	width: 0;
	transition: width 0.2s ease-in-out;
	align-self: baseline;
	justify-self: flex-start
}

#progressButton {
	font-size: xx-large;
}

.center {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	color: var(--baseBackground);
}

.registration {
	position: relative;
}

#register {
	background: var(--baseBackground);
	position: relative;
	width: auto;
	padding: 2px 15px 20px 15px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
	transition: transform 0.1s ease-in-out;
	/* display: flex; */
	/* flex-flow: column nowrap; */
}

#register.close {
	width: 0;
	padding: 0;
	overflow: hidden;
	transition: 0.8s ease-in-out;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

.reg__actions {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0.2em 0;
	height: 3em;
}

.reg__action {
	justify-content: center;
	align-items: center;
	align-content: center;
}

.reg__action i {
	font-size: xx-large;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	background: var(--baseBackground);
	color: var(--colorTextHighlight);
	opacity: 1;
	height: auto;
	margin: 1em 0;
	width: auto;
}

button i {
	margin: 0.2em;
}

.wrong .action {
/* .wrong .next { */
	color: #ff2d26;
}
.close .action {
/* .close .next { */
	color: var(--baseBackground);
}

#inputContainer {
	position: relative;
	opacity: 0;
	width: 350px;
	margin-top: 25px;
	transition: opacity 0.3s ease-in-out;
}

#inputContainer input {
	width: 100%;
	padding: 0 5px;
	border: none;
	font-size: 20px;
	font-weight: bold;
	outline: 0;
	background: transparent;
	box-shadow: none;
	color: var(--colorText);
	caret-color: var(--colorTextHighlight)
}

#inputLabel {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	font-size: 20px;
	font-weight: bold;
	padding: 0 5px;
	transition: 0.2s ease-in-out;
	color: var(--colorTextHighlight);
}

#inputContainer input:valid + #inputLabel {
	top: -15px;
	font-size: 11px;
	font-weight: normal;
	color: var(--colorTextHighlight);
}

#inputProgress {
	position: absolute;
	border-bottom: 2px solid var(--colorTextHighlight);
	padding: 3px 0;
	width: 0;
	transition: width 0.6s ease-in-out;
}

.wrong #inputProgress {
	border-color: #ff2d26;
}

#inputField {
	height: 3em;
}

.contact__page .fp-tableCell {
	justify-content: space-between;
}

.contact__heading {
	flex: 1;
	margin: 2em auto;
	max-height: 2em;
}

footer {
	flex: 1;
	max-height: 2em;
	line-height: 2em;
}

#contactContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	flex: 2;
}

.contact__wrapper {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	padding: 1em;
	min-width: 35vw;
	margin: 1em;
	border: 1px solid var(--colorTextHighlight);
	max-height: 33%;
}

.contact__image {
	flex: 2;
	max-height: 100%;
	max-width: 40%;
}

.contact__content {
	flex: 3;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.contact__content * {
	flex: 1;
	margin: 0.4em auto;
}

@media only screen and (max-width: 30em) {
	body {
		font-size: xx-small;
	}
	#menuControl, nav {
		font-size: 1rem;
	}
	h2 {
		font-size: 200%;
	}
	.loading #loaderWrapper {
		left: 0;
	}
	.society {
		margin: 1rem;
	}
	.society__title {
		font-size: 2em;
	}
	.society__actions {
		padding: 0;
		flex-flow: column-reverse nowrap;
		justify-content: flex-end;
		align-items: unset;
	}
	.society__action {
		margin: 0.7em;
		height: 3.5em;
		padding: 0.5rem 2rem;
		width: 14em;
	}
	.fp-controlArrow.fp-prev {
		top: calc(50% - 19px);
		border-width: 1.2em 1.06em 1.2em 0;
	}
	.fp-controlArrow.fp-next {
		top: calc(50% - 19px);
		border-width: 1.2em 0 1.2em 1.06em;
	}
	#Blitzschlag {
		transform: scale(0.5);
	}

  #contactContainer {
	  flex-flow: column nowrap;
  }
  .contact__heading {
	  margin: 1em;
  }
  .contact__image {
	  max-width: 33%;
  }
  .contact__wrapper {
	  max-width: 80vw;
	  margin: 0.3em;
  }
}

@media only screen and (max-width: 48em) {

}
